.singers-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
}

.name {
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    padding: 10px 0;
}

.img-box {
    width: 350px;
}

.img-box>a>img {
    width: 70%;
    height: 300px;
    border-radius: 15px;
}

.singers {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding: 30px 0;
    border-bottom: 2px solid black;
    width: 100%;
}

.singers-box{
    margin-top: 40px;
}